[Unit]
Description=StackPilot firewall helper socket

[Socket]
ListenStream=/run/stackpilot-firewall-helper/helper.sock
SocketUser=root
SocketGroup=stackpilot-firewall
SocketMode=0660
DirectoryMode=0750
Accept=yes
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
